.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  min-height: 377px;
  background-color: white;
  justify-content: space-between;
  margin: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  gap: 0.25rem;
  padding: 1rem;
  align-items: center;
}

.product-card h3 {
  font-weight: 400;
}

.product-image {
  display: block;
  width: 100%;
  height: 180px;
  object-fit: cover;
  overflow: none;
}

.offer-price {
  color: var(--Grey-grey-700, #374151);
  font-weight: 600;
}

.actual-price {
  text-decoration: line-through;
  color: #9ca3af;
}

.product-btn {
  padding: 0.5rem;
  border: none;
  font-family: "Poppins", sans-serif;
  background-color: white;
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  width: 100%;
  margin-top: 0.5rem;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-btn:hover {
  cursor: pointer;
  transition: 0.25s;
  background-color: black;
  color: white;
  border: 1px solid;
}

.rating-icon {
  color: black;
  margin: 0rem 0.5rem;
}

.wishlist-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: black;
  padding: 0.5rem;
  color: white;
  cursor: pointer;
}

.product-card:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.797);
  transition: 0.25s;
}

@media (max-width: 768px) {
  .product-card h3 {
    font-size: 1rem;
  }

  .card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* align-items: center; */
  }

  .card-container > :first-child {
    margin-top: 25px;
  }
}
