.search-bar {
  border: 1px solid #666666;
  border-radius: 5px;
  padding: 0.5rem 10rem 0.5rem 1rem;
  font-family: "Poppins", sans-serif;
}
.header-container {
  display: flex;
  justify-content: space-around;
  line-height: 40px;
  padding: 1rem;
  background-color: white;
}
.nav-icons {
  display: flex;
  padding-left: 1rem;
}
.cart {
  color: var(--primarycolor);
}

.login-btn {
  background-color: var(--primarycolor);
  color: white;
  border: none;
  padding: 10px 25px;
  font-weight: 500;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}
.login-btn:hover {
  background-color: #fc4c52d8;
}
.nav-icons i {
  margin: 1rem;
}

.nav-icons i:hover {
  cursor: pointer;
  transition: 0.5s;
}

.icon-number {
  position: relative;
  top: -12px;
  left: -8px;
  font-size: 10px;
  background-color: #4bb543;
  color: white;
  padding: 0.4rem;
  border-radius: 50%;
  display: inline-block;
}

.user-name:hover {
  cursor: pointer;
}
.wrapper {
  position: relative;
  width: min-content;
}

.clear {
  position: absolute;
  right: 0px;
}

.explore {
  padding-right: 2.5rem;
}
