.product-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: fit-content;
  padding: 1rem;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.product-detail-card {
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  padding: 1rem;
}
.product-inner-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0rem 1rem;
}
.product-detail-card img {
  max-height: 250px;
  width: 100%;
}
@media (max-width: 768px) {
  .product-detail-card {
    flex-direction: column;
  }
  .product-inner-card {
    align-items: center;
  }
}
