.categories-container {
  flex-wrap: wrap;
  justify-content: space-around;
  display: flex;
}

.category-card {
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    background-color: white;
    width: 250px;
    height: 500px ;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* max-height: 0vh; */
}

.category-card:hover {
  cursor: pointer;
  /* font-size: larger; */
}
