.categories-container {
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  /* flex-grow: 1; */
  flex: 1 0 auto;
  flex-wrap: wrap;
}

.category-card {
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    background-color: white;
    width: 250px;
    height: 500px ;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  
    /* max-height: 0vh; */
}

.category-card:hover {
  cursor: pointer;
  /* font-size: larger; */
}

/* .category-container{
  display: flex;
} */

.category-card-container{
   padding: 1rem;
    margin: 1rem;
  /* flex-wrap: wrap; */

    border-radius: 5px;
    background-color: white;
    width: 450px;
    /* height: 100% ; */
    text-align: center;
    display: flex;
}
.categories-container-main{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}