.order-history-container {
  display: flex;
  justify-content: space-between;
}

.user-detail-address-order {
  background-color: white;
  margin: 0rem 1rem;
  padding: 0rem 1rem;
  text-align: left;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  box-shadow: -10px 7px 5px 0px rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: -8px 7px 5px 0px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  -moz-box-shadow: -10px 7px 5px 0px rgba(0, 0, 0, 0.19);
  border: 1px solid;
  justify-content: space-between;
}
.order-history-card {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
