.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.116) 0px 8px 24px;
  align-items: center;
  height: 64px;
}

.logo-container {
  display: flex;
  align-items: center;
  margin: 0rem 1rem;
  cursor: pointer;
}

.logo-container h3 {
  letter-spacing: 1.5px;
}

.logo {
  cursor: pointer;
  width: 50px;
}
.search-bar {
  border: 1px solid #666666;
  border-radius: 50px;
  padding: 0.5rem 10rem 0.5rem 1rem;
  width: 100%;
}
.wrapper {
  position: relative;
}

.wrapper span {
  position: absolute;
  top: 7px;
  right: 13px;
}

.nav-icons {
  display: flex;
  justify-content: space-evenly;
  gap: 25px;
  margin: 0rem 1.5rem;
}

.nav-icons li {
  /* font-size: 20px; */
  text-decoration: none;
  color: black;
  position: relative;

  list-style-type: none;
  cursor: pointer;
  font-weight: 450;
}

.icon-number {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  position: absolute;
  top: -12px;
  right: -10px;
  background-color: rgb(209, 209, 209);
  border-radius: 50%;
  height: 20px;
  width: 20px;
  font-size: 12px;
  font-weight: 500;
}

.material-symbols-outlined {
  font-weight: 350;
  cursor: pointer;
}

@media (max-width: 768px) {
  .wrapper {
    display: none;
  }

  .nav-icons {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 1;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    margin: 0;
    /* margin-top: 1rem; */
    padding: 0.5rem 1.5rem;
    padding-top: 1rem;
    box-shadow: rgba(149, 157, 165, 0.116) 0px 8px 24px;
  }
}

body {
  margin-bottom: 40px; /* Adjust this value based on the height of your navbar */
}
