.user-detail-address {
  background-color: white;
  margin: 0rem 1rem;
  padding:  1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  line-height: 30px;
  margin: 1rem;
}

.user-detail-address button {
  display: flex;
  justify-content: center;
  width: 100px;
  background-color: red;
}

.login-form-container-address {
  display: flex;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: rgba(52, 46, 46, 0.75);
  justify-content: center;
}

.address-container-main {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.add-new-address {
  padding: 0.5rem;
  margin: 1rem 0rem 0rem 0rem;
  width: 100%;
  border: none;
  font-family: "Poppins", sans-serif;
  background-color: #fc4c51;
  color: white;
  border-radius: 5px;
  display: flex;
  margin: 1rem 1rem;
  width: 20%;
  justify-content: center;
}

.add-new-address:hover {
  cursor: pointer;
  background-color: rgba(0, 128, 0, 0.411);
}

.login-form-address {
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: white;
  padding: 0.5rem 2.5rem 2.5rem 2.5rem;
  margin: 1rem;
  border-radius: 5px;
  height: fit-content;
}

.login-form-address input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid grey;
}

.login-form-address input {
  margin: 0.5rem 0rem;
}

.address-container-all-main {
  display: flex;
  justify-content: center;
}
